@model IEnumerable<CanteenSystem.Dto.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.MealAvailableDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr class="no-record-found">
                <td colspan="4">
                    <span> No records found</span>

                </td>
            </tr>
        }
        else
        {

        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealMenu.MealName)
        </td>
        <td> 
            @Html.DropDownListFor(modelItem=> item.Quantity,new SelectList(new List<SelectListItem> {
           new SelectListItem("1","1"),
               new SelectListItem("2","2"),
               new SelectListItem("3","3"),
               new SelectListItem("4","4")
           }), new
           {
               onchange = @"updateQuantity(" +","+(item.Id)+ ",'" +(item.MealMenu.MealName)+"')"
           })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.MealAvailableDate)
        </td>
        
        <td>
            <a onclick="removeFromCart(@(item.Id),'@(item.MealMenu.MealName)')" href="#">Remove</a>
        </td>
    </tr>
        }
        }
    </tbody>
</table>

<script>
    function updateQuantity(selectedQuantity,cartId, menuName) {
        $.ajax({
            method: "post",
            url: "/carts/UpdateCartQuantity/" + cartId + '/' + selectedQuantity,
            success: function (result) {
                $('#statusMessage').show();
                if (result.status) {

                    $('#statusMessage').addClass("alert-success  w-100");
                    $('#statusMessage').html("<span>" + menuName + " quantity has been updated to " + selectedQuantity+"</span>");
                } else {
                    $('#statusMessage').addClass("alert-danger  w-100");
                    $('#statusMessage').html("<span> Unexpected error occurred. please try again later</span>");
                }
                setTimeout(hideStatusMessage, 2000);
            }
        });
    }
    function removeFromCart(cartId, menuName) {
        $.ajax({
            method: "post",
            url: "/carts/RemoveFromCart/" + cartId,
            success: function (result) {
                $('#statusMessage').show();
                if (result.status) {

                    $('#statusMessage').addClass("alert-success  w-100");
                    $('#statusMessage').html("<span>" + menuName + " is removed from the cart</span>");
                } else {
                    $('#statusMessage').addClass("alert-danger  w-100");
                    $('#statusMessage').html("<span> Unexpected error occurred. please try again later</span>");
                 }
                setTimeout(hideStatusMessage, 2000);
            }
        });
    }

    function hideStatusMessage() {
        $('#statusMessage').hide();
    }
</script>
